name: df_pod_example
homepage: https://dev-cetera.com/
publish_to: none
version: 0.1.0
environment:
  sdk: ">=3.5.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  df_pod:
    path: ..
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
flutter:
  uses-material-design: true

